PORT=5000
NODE_ENV=production
CORS_ORIGIN=*

# Supabase Database & Auth Configuration
SUPABASE_URL=https://msgjuazmayoimjjaatmh.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_Zp2BXwr2Fs98YJnSonG2HA_bkDiq_eh
SUPABASE_SECRET_KEY=sb_secret_PwTFIH64UCR-xJ1Z9c5ERw_J12jVn_B
SUPABASE_JWKS_URL=https://msgjuazmayoimjjaatmh.supabase.co/auth/v1/.well-known/jwks.json
